# version: '3.8'

services:
  web:
    build: .
    command: gunicorn -w 4 -b 0.0.0.0:8000 run:app
    # volumes:
    #   - .:/app
    ports:
      - "5000:8000"
    environment:
      # - FLASK_APP=app
      - FLASK_ENV=production


  # db:
