version: '3'
services:
  webapplication:
    image: ghcr.io/gentlelentil/chem_devops_docker:latest
    ports:
      - "5000:5000"
    networks:
      - chemapp

  ml_model:
    image: ghcr.io/gentlelentil/ml_pipeline:latest
    ports:
      - "5001:5001"
    networks:
      - chemapp

networks:
  chemapp:
